#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.button-custom {
  background-color: #e05252; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remover borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Centralizar texto */
  text-decoration: none; /* Sem sublinhado */
  display: inline-block; /* Permitir margens */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margens */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave */
}

.button-custom:hover {
  background-color: #e05252; /* Cor de fundo ao passar o mouse */
}
