/* src/Desafio2.css */

/* Estilo para esconder o texto no atributo data-hidden-text */
[data-hidden-text] {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

[data-hidden-text]::before {
  content: '';
}

/* Estilos principais da página */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #383737;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  color: #f1f1f1; /* Cor do título mais clara */
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  font-size: 1.2rem;
  color: #e1e1e1; /* Cor do texto mais clara */
  text-align: center;
  margin-bottom: 30px;
}

.description {
  font-size: 1rem;
  color: #f1f1f1; /* Cor do texto mais clara */
}

.description p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.description ul {
  margin-left: 20px;
  list-style-type: disc;
  color: #f1f1f1; /* Cor da lista ajustada para maior contraste */
}

.description strong {
  font-weight: bold;
  color: #f1f1f1; /* Cor das tags strong ajustada */
}

.form {
  margin-top: 20px;
}

.form input {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px; /* Set a fixed width */
  display: block; /* Center the button */
  margin: 0 auto; /* Center the button */
}

.form button:hover {
  background-color: #45a049;
}

.success-message {
  color: green;
  font-size: 1.2rem;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

ul {
  padding-left: 20px;
  list-style-position: inside;
}

ul li {
  margin-bottom: 8px;
  color: #f1f1f1; 
}
